* {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
  background-color: rgb(255, 255, 255);
}

.wrapper {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(17, 218, 198);
}

h2 {
    text-align: center;
    padding: 20px;
    padding-top: 0px;
    color: hsl(17, 218, 198);
  }

.card {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border-width: 1px;
  box-shadow: rgb(17, 218, 198) 0px 2px 8px 0px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}


.card-body {
  height: 200px;
  text-align: center;
  
}

.button {
  border: none;
  background-color: rgb(17, 218, 198);
  border-radius: 30px;
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 24px;
  line-height: 22px;
  padding: 20px 40px;
  text-align: center;
  margin: 60px;
  cursor: pointer;
}



@media (max-width: 690px) {
  .button {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

}

@media (max-width: 500px) {
  .button {
    font-size: 0.8rem;
  }
}
